<%- model_class = Recipe -%>

<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_recipe_path,
            :class => 'btn btn-primary' %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Recipe Name</th>
      <th>Recipe ID</th>
      <th>Cook On</th>
      <th>Recipe Link</th>
      <th>Recipe Description</th>
      <th>Tags</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @recipes.each do |recipe| %>
      <tr>
        <td><%= recipe.name %></td>
        <td><%= link_to recipe.id, recipe_path(recipe) %></td>
        <td><%= recipe.cook_on %></td>
        <td><%= link_to recipe.recipe_link, recipe.recipe_link, target: "_new" %></td> 
        <td><%= recipe.recipe_description %></td>
        <td>
            <%= raw recipe.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %> 
        </td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_recipe_path(recipe), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      recipe_path(recipe),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
