<%- model_class = Recipe -%>

<div class="d-flex justify-content-between align-items-center mb-4">
  <h1>Scheduled Recipes</h1>
  <%= link_to "Add New Recipe", new_recipe_path, class: 'btn btn-primary' %>
</div>

<div class="d-flex mb-4">
  <%= link_to(image_tag("medi.jpg", size: "100x100", alt: "picture of meredith", class: "rounded"), tag_path("medi"), class: "me-3") %>
  <%= link_to(image_tag("colin.jpg", size: "100x100", alt: "picture of colin", class: "rounded"), tag_path("colin")) %>
</div>

<table class="table table-striped table-hover">
  <thead class="table-dark">
    <tr>
      <th>Recipe Name</th>
      <th>ID</th>
      <th>Cook On</th>
      <th>Recipe Link</th>
      <th>Description</th>
      <th>Tags</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @recipes.sort_by(&:cook_on).each do |recipe| %>
      <tr>
        <td><%= recipe.name %></td>
        <td><%= link_to recipe.id, recipe_path(recipe) %></td>
        <td><%= recipe.cook_on %></td>
        <td><%= link_to recipe.recipe_link, recipe.recipe_link, target: "_blank" if recipe.recipe_link.present? %></td>
        <td><%= recipe.recipe_description %></td>
        <td>
          <%= raw recipe.tag_list.map { |t| link_to t, tag_path(t), class: "badge bg-secondary text-decoration-none" }.join(' ') %>
        </td>
        <td>
          <div class="btn-group btn-group-sm">
            <%= link_to "Edit", edit_recipe_path(recipe), class: 'btn btn-primary' %>
            <%= link_to "Cooked", recipe_path(recipe, recipe: { cook_on: nil }), method: :put, class: 'btn btn-success' %>
            <%= link_to "Delete", recipe_path(recipe), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
