<%- model_class = Recipe -%>

<div class="row justify-content-center">
  <div class="col-lg-8">
    <div class="card-custom p-4">
      <div class="mb-4">
        <h1 class="mb-2"><%= @recipe.name %></h1>
        <% if @recipe.cook_on.present? %>
          <p class="recipe-date mb-0"><%= @recipe.cook_on.strftime("%A, %B %d, %Y") %></p>
        <% else %>
          <span class="tag-badge">Unscheduled</span>
        <% end %>
      </div>

      <% if @recipe.tag_list.any? %>
        <div class="mb-4">
          <% @recipe.tag_list.each do |tag| %>
            <%= link_to tag, tag_path(tag), class: "tag-badge me-1" %>
          <% end %>
        </div>
      <% end %>

      <% if @recipe.recipe_description.present? %>
        <div class="mb-4">
          <h5 class="text-muted mb-2">Description</h5>
          <p><%= @recipe.recipe_description %></p>
        </div>
      <% end %>

      <% if @recipe.recipe_link.present? %>
        <div class="mb-4">
          <h5 class="text-muted mb-2">Recipe Link</h5>
          <p>
            <%= link_to @recipe.recipe_link, ensure_protocol(@recipe.recipe_link), target: "_blank", class: "recipe-link" %>
          </p>
        </div>
      <% end %>

      <hr class="my-4">

      <div class="action-buttons">
        <%= link_to "Back to Recipes", recipes_path, class: 'btn btn-outline-secondary' %>
        <%= link_to "Edit", edit_recipe_path(@recipe), class: 'btn btn-primary' %>
        <%= link_to "Delete", recipe_path(@recipe), method: :delete, data: { confirm: 'Are you sure you want to delete this recipe?' }, class: 'btn btn-danger' %>
      </div>
    </div>
  </div>
</div>
