<%- model_class = Recipe -%>

<div class="d-flex justify-content-between align-items-center mb-4">
  <h1>Unscheduled Recipes</h1>
  <%= link_to "Add New Recipe", new_recipe_path, class: 'btn btn-primary' %>
</div>

<table class="table table-striped table-hover">
  <thead class="table-dark">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Link</th>
      <th>Tags</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @recipes_unscheduled.each do |recipe| %>
      <tr>
        <td><%= link_to recipe.id, recipe_path(recipe) %></td>
        <td><%= recipe.name %></td>
        <td><%= link_to recipe.recipe_link, recipe.recipe_link, target: "_blank" if recipe.recipe_link.present? %></td>
        <td>
          <%= raw recipe.tag_list.map { |t| link_to t, tag_path(t, unscheduled_only: true), class: "badge bg-secondary text-decoration-none" }.join(' ') %>
        </td>
        <td>
          <div class="btn-group btn-group-sm">
            <%= link_to "Edit", edit_recipe_path(recipe), class: 'btn btn-primary' %>
            <%= link_to "Schedule", edit_recipe_path(recipe), class: 'btn btn-success' %>
            <%= link_to "Delete", recipe_path(recipe), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
