<%- model_class = Recipe -%>

<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_recipe_path,
            :class => 'btn btn-primary' %>

 <%= search_form_for @search do |f| %>
                  <div class="field"> 
                      <%= f.label :name_cont, "Name contains" %>
                      <%= f.text_field :name_cont %>
                    </div>
                    <div class="actions"> 
                      <%= f.submit "Search" %> </div>
                  <% end %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Link</th>
      <th>Tags</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @recipes_unscheduled.each do |recipe| %>
      <tr>
        <td><%= link_to recipe.id, recipe_path(recipe) %></td>
        <td><%= recipe.name %></td>
        <td><%= link_to recipe.recipe_link, recipe.recipe_link, target: "_new" %></td>
         <td>
            <%= raw recipe.tag_list.map { |t| link_to t, tag_path(t, unscheduled_only: true) }.join(', ') %> 
        </td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_recipe_path(recipe), :class => 'btn btn-mini btn-info' %>
          <%= link_to t('.schedule', :default => t("helpers.links.schedule")),
                      edit_recipe_path(recipe), :class => 'btn btn-mini btn-success' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      recipe_path(recipe),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


