<div class="page-header mb-4">
  <h1>Calendar</h1>
  <p class="subtitle">View your meal plan at a glance</p>
</div>

<div id="recipes">
  <h2 id="month">
    <%= link_to "<", date: @date.prev_month %>
    <%= @date.strftime("%B %Y") %>
    <%= link_to ">", date: @date.next_month %>
  </h2>

  <div class="calendar">
    <%= calendar @date do |date| %>
      <%= date.day %>
      <% if @recipes_by_date[date] %>
      <ul>
        <% @recipes_by_date[date].each do |recipe| %>
          <li><%= link_to recipe.name, recipe %></li>
        <% end %>
      </ul>
      <% end %>
    <% end %>
  </div>
</div>
