<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= content_for?(:title) ? yield(:title) : "Meal Planner" %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload" %>
  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">MealPlanner</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav me-auto">
            <li class="nav-item"><%= link_to "Home", "/", class: "nav-link" %></li>
            <li class="nav-item"><%= link_to "About Us", "/path2", class: "nav-link" %></li>
            <li class="nav-item"><%= link_to "Recipe Sites", "/path5", class: "nav-link" %></li>
            <li class="nav-item"><%= link_to "Help", "/path3", class: "nav-link" %></li>
          </ul>
          <%= search_form_for @search, class: "d-flex" do |f| %>
            <%= f.text_field :name_cont, class: "form-control me-2", placeholder: "Search recipes..." %>
          <% end %>
        </div>
      </div>
    </nav>

    <div class="container-fluid mt-4">
      <div class="row">
        <div class="col-md-3">
          <div class="card">
            <div class="card-header">More Options</div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><%= link_to "Home", "/" %></li>
              <li class="list-group-item"><%= link_to "Unscheduled Recipes", "/unscheduled" %></li>
              <li class="list-group-item"><%= link_to "Calendar", calendar_path %></li>
            </ul>
          </div>
        </div>
        <div class="col-md-9">
          <% flash.each do |type, message| %>
            <div class="alert alert-<%= type == 'notice' ? 'success' : 'danger' %> alert-dismissible fade show" role="alert">
              <%= message %>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          <% end %>
          <%= yield %>
        </div>
      </div>

      <footer class="mt-5 py-3 text-center text-muted">
        <p>&copy; Meal Planner <%= Date.today.year %></p>
      </footer>

    </div>

  </body>
</html>
